# Kickstarter Projects
### Rebecca Tung (1448196)
### Sidney Fox (1524992)

In [1]:
#Libraries used throughout the Project
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import os
import math
import requests
import io
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler, Imputer
from sklearn.metrics import confusion_matrix, accuracy_score
%matplotlib inline

In [255]:
#Reference to .csv file
url = 'https://raw.githubusercontent.com/stfox13/CSC478FinalProject/master/Data/ks-projects-201612.csv'

#Read 2016 projects in as pandas DataFrame
df = pd.read_csv(url, index_col = 0)

#Remove the last three columns of the 
#df = df[list(df)[:-4]]

#Remove trailing white space from header
df.columns = df.columns.str.strip().str.replace(' ','_').str.replace(':','')

#View a subset of the data
df.head(10)

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,Unnamed_13,Unnamed_14,Unnamed_15,Unnamed_16
ID,,,,,,,,,,,,,,,,
1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN
1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500,2015-07-04 08:35:03,1283,canceled,14,US,1283,NaN,NaN,NaN,NaN
1000014025,Monarch Espresso Bar,Restaurants,Food,USD,2016-04-01 13:38:27,50000,2016-02-26 13:38:27,52375,successful,224,US,52375,NaN,NaN,NaN,NaN
1000023410,Support Solar Roasted Coffee & Green Energy! ...,Food,Food,USD,2014-12-21 18:30:44,1000,2014-12-01 18:30:44,1205,successful,16,US,1205,NaN,NaN,NaN,NaN
1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17 19:05:12,25000,2016-02-01 20:05:12,453,failed,40,US,453,NaN,NaN,NaN,NaN
1000034518,SPIN - Premium Retractable In-Ear Headphones w...,Product Design,Design,USD,2014-05-29 18:14:43,125000,2014-04-24 18:14:43,8233,canceled,58,US,8233,NaN,NaN,NaN,NaN
100004195,STUDIO IN THE SKY - A Documentary Feature Film...,Documentary,Film & Video,USD,2014-08-10 21:55:48,65000,2014-07-11 21:55:48,6240.57,canceled,43,US,6240.57,NaN,NaN,NaN,NaN
100004721,Of Jesus and Madmen,Nonfiction,Publishing,CAD,2013-10-09 18:19:37,2500,2013-09-09 18:19:37,0,failed,0,CA,0,NaN,NaN,NaN,NaN

In [17]:
#df['name'] = np.where(df['Unnamed: 16'].isna() == False, df['name'] + df['category'] + df['main_category'], df['name'])
#df[(df['Unnamed_16'].isna() == False)]
#['name'] = 'X'
df.columns

Index([u'name', u'category', u'main_category', u'currency', u'deadline',
       u'goal', u'launched', u'pledged', u'state', u'backers', u'country',
       u'usd_pledged', u'Unnamed_13', u'Unnamed_14', u'Unnamed_15',
       u'Unnamed_16'],
      dtype='object')

In [3]:
#df.loc[(df['name'] == df[['name', 'category', 'main_category']]), 'Unnamed: 16'].isna() == False
df.loc[(df['Unnamed_16'].isna() == False)]
       #, 'name'] 
#= df[['name','category','main_category']].apply(lambda x: ''.join(x), axis=1)

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,Unnamed_13,Unnamed_14,Unnamed_15,Unnamed_16
ID,,,,,,,,,,,,,,,,
677103185,SixSixSeven,Angels,Demons,Religion,Esoteric,Graphic Novels,Comics,USD,2015-10-10 01:00:00,750,2015-09-10 18:15:45,25,failed,1,US,25.0

In [11]:
df.dtypes

name              object
category          object
main_category     object
currency          object
deadline          object
goal              object
launched          object
pledged           object
state             object
backers           object
country           object
usd_pledged       object
Unnamed_13        object
Unnamed_14        object
Unnamed_15        object
Unnamed_16       float64
dtype: object

In [256]:
#remove all rows that have invalid numbers and/or impute missing numbers
df_filtered = df[
        (df['Unnamed_13'].isna() == False) |
        (df['Unnamed_14'].isna() == False) |
        (df['Unnamed_15'].isna() == False) |
        (df['Unnamed_16'].isna() == False) |
        (df['country'] == '0')
        ]

In [257]:
def cleanDataFrame(dataframe):

    for index, row in dataframe.iterrows():

        val16 = str(row.Unnamed_16)
        val15 = str(row.Unnamed_15)
        val14 = str(row.Unnamed_14)
        val13 = str(row.Unnamed_13)

        cols = list(dataframe)

        if val16 != 'nan':
            project_name = row[cols[0]] + row[cols[1]] + row[cols[2]] + row[cols[3]] + row[cols[4]]
            project_name = project_name.replace('  ',' ').strip()
            df_filtered.at[index, cols[0]] = project_name
            for i in range(1,12):
                j = i + 4
                df_filtered.at[index, cols[i]] = row[cols[j]]
            for i in range(12,16):
                df_filtered.at[index,cols[i]] = np.nan

        if val15 != 'nan' and val16 == 'nan':
            project_name = row[cols[0]] + row[cols[1]] + row[cols[2]] + row[cols[3]]
            project_name = project_name.replace('  ',' ').strip()
            df_filtered.at[index, cols[0]] = project_name
            for i in range (1,12):
                j = i + 3
                df_filtered.at[index, cols[i]] = row[cols[j]]
            for i in range(12,15):
                df_filtered.at[index,cols[i]] = np.nan

        if val14 != 'nan' and val15 == 'nan':
            project_name = row[cols[0]] + row[cols[1]] + row[cols[2]]
            project_name = project_name.replace('  ',' ').strip()
            df_filtered.at[index, cols[0]] = project_name
            for i in range (1,12):
                j = i + 2
                df_filtered.at[index, cols[i]] = row[cols[j]]
            for i in range(12,14):
                df_filtered.at[index,cols[i]] = np.nan

        if val13 != 'nan' and val14 == 'nan':
            project_name = row[cols[0]] + str(row[cols[1]])
            project_name = project_name.replace('  ',' ').strip()
            df_filtered.at[index, cols[0]] = project_name
            for i in range (1,12):
                j = i + 1
                df_filtered.at[index, cols[i]] = row[cols[j]]
            for i in range(12,13):
                df_filtered.at[index,cols[i]] = np.nan
                
        if val13 == 'nan' and val14 == 'nan':
            project_name = row[cols[0]] + str(row[cols[1]])
            project_name = project_name.replace('  ',' ').strip()
            df_filtered.at[index, cols[0]] = project_name
            for i in range (1,12):
                j = i + 1
                df_filtered.at[index, cols[i]] = row[cols[j]]

In [258]:
cleanDataFrame(df_filtered)

In [159]:
df_filtered.filter(like='1008705746',axis=0)

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,Unnamed_13,Unnamed_14,Unnamed_15,Unnamed_16
ID,,,,,,,,,,,,,,,,
1008705746,Zephyra�s new full length 'As The World Collap...,Music,SEK,2016-02-02 00:56:46,15000,2016-01-03 00:56:46,4262,failed,14,SE,504.94765278,504.94765278,NaN,NaN,NaN,NaN

In [152]:
df_filtered.filter(like='1008705746',axis=0)

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,Unnamed_13,Unnamed_14,Unnamed_15,Unnamed_16
ID,,,,,,,,,,,,,,,,
1008705746,Zephyra�s new full length 'As The World Collap...,Metal,Music,SEK,2016-02-02 00:56:46,15000,2016-01-03 00:56:46,4262,failed,14,SE,504.94765278,504.94765278,NaN,NaN,NaN
1009317190,French Cuisine A Traditional Experience,Cookbooks,Food,USD,2014-09-08 00:46:23,13730,2014-08-09 03:16:02,3984,failed,46,US,3984,3984,NaN,NaN,NaN
1010871699,The Beginners Guide to being Unsuicidal the on...,Theater,Theater,USD,2011-12-31 23:25:46,5000,2011-11-21 23:25:46,525,failed,10,US,525,525,NaN,NaN,NaN
1011687764,Best OnLine Classifieds Ever / No More Spam,Web,Technology,USD,2014-09-20 19:56:10,6300,2014-08-21 19:56:10,0,failed,0,US,0,0,NaN,NaN,NaN
101453314,Social Media Ruined My Life A Short Film from ...,Shorts,Film & Video,USD,2013-03-14 20:11:57,3000,2013-02-25 21:11:57,3035,successful,42,US,3035,3035,NaN,NaN,NaN

In [155]:
df.filter(like='1008705746',axis=0)

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,Unnamed_13,Unnamed_14,Unnamed_15,Unnamed_16
ID,,,,,,,,,,,,,,,,
1008705746,Zephyra�s new full length 'As The World Collap...,Metal,Music,SEK,2016-02-02 00:56:46,15000,2016-01-03 00:56:46,4262,failed,14,SE,504.94765278,504.94765278,NaN,NaN,NaN

In [264]:
df.country.unique()

array(['GB', 'US', 'CA', 'NO', 'AU', 'IT', 'DE', 'IE', 'ES', 'N,"0', 'MX',
       'SE', 'FR', 'NL', 'NZ', 'CH', 'AT', 'BE', 'DK', 'HK', 'LU', 'SG'], dtype=object)

In [266]:
df[(df['country'] =='N,"0')]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,Unnamed_13,Unnamed_14,Unnamed_15,Unnamed_16
ID,,,,,,,,,,,,,,,,
1000694855,STREETFIGHTERZ WHEELIE MURICA,Film & Video,Film & Video,USD,2014-09-20 06:59:00,6500,2014-08-06 21:28:36,555,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
100149523,Duncan Woods - Chameleon EP,Music,Music,AUD,2015-08-25 23:00:00,4500,2015-08-04 12:05:17,4767,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1003023003,The Making of Ashley Kelley's Debut Album,Music,Music,USD,2015-04-09 21:06:13,3500,2015-03-10 20:06:13,3576,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1003130892,Butter Side Down Debut Album,Music,Music,USD,2015-11-26 10:59:00,6000,2015-11-02 22:09:19,7007.8,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1003629045,Chase Goehring debut EP,Music,Music,USD,2016-03-21 06:00:00,3000,2016-02-23 03:09:49,3660.38,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1004013077,Spencer Capier Instrumental Project 2015,Music,Music,CAD,2014-10-10 22:51:01,4000,2014-09-10 22:51:01,4760,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1004126342,LUKAS LIGETI'S 50TH BIRTHDAY FESTIVAL: ORIGINA...,Music,Music,USD,2015-06-11 04:00:00,5000,2015-05-15 02:12:35,6370,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1004255433,The Battle For Breukelen: A Neighborhood Epic,Film & Video,Film & Video,USD,2015-11-07 08:59:00,6000,2015-10-10 18:45:24,6695,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1004298993,"""Tamboura Plays Violin"" - a collection of Pop ...",Music,Music,USD,2015-03-28 18:28:27,2750,2015-02-11 19:28:27,2926,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1004402863,Nightingale Noel - An A Cappella Holiday CD,Music,Music,USD,2015-12-11 21:02:55,1200,2015-11-11 21:02:55,1585,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1005185256,Local Music Connection,Music,Music,USD,2015-12-18 21:50:04,1500,2015-11-18 21:50:04,69,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
100522240,DO NOT DUPLICATE - Selected by 2015 Devon Film...,Film & Video,Film & Video,GBP,2015-04-10 23:07:00,1500,2015-03-11 22:07:00,277,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1005653464,SA-4 Studios,Music,Music,USD,2015-03-25 17:33:14,5000,2015-01-24 18:33:14,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1006327667,Letters to the Wild - EP,Music,Music,USD,2014-10-31 21:48:31,2000,2014-10-02 22:48:31,2560,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1008671527,The Fitness Mindset :-),Publishing,Publishing,EUR,2015-11-17 15:45:38,8000,2015-10-13 15:45:38,30,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1008675685,Inspired & the Sleep EP - Eyelid Kid,Music,Music,USD,2015-10-30 09:10:00,2000,2015-10-04 21:48:11,2079,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1008815806,Into Winter: An Instrumental Christmas Experiment,Music,Music,USD,2014-10-11 23:23:40,2000,2014-09-10 23:23:40,2085,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1009154868,Help advance scientific guitar & bass design,Music,Music,USD,2016-03-12 01:42:44,5000,2016-02-11 01:42:44,121,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1009312309,Mr. Pickles,Publishing,Publishing,USD,2015-05-01 16:36:51,3750,2015-04-01 16:36:51,230,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1009774693,Universal Peace | Universal Justice,Music,Music,USD,2014-09-06 05:59:00,2500,2014-07-29 23:01:07,2720,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1010217550,Solarboot-Havel-Tour,Music,Music,EUR,2015-05-31 22:37:00,2500,2015-05-14 23:05:51,2620,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1010694326,Surrender,Music,Music,CAD,2015-01-30 08:59:00,5000,2014-12-29 01:27:30,5197,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1011508551,EBENEZER Solo Record,Music,Music,USD,2015-05-30 17:33:24,8000,2015-04-20 17:33:24,8361,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1011952280,NHSOB Summer Festival 2015,Music,Music,GBP,2015-05-15 17:21:17,3000,2015-03-31 17:21:17,34,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1012058337,Degobah Max,Music,Music,USD,2015-12-05 22:01:00,4500,2015-11-06 21:55:39,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1012414277,WE ARE WHO WE ARE BUT WHATEVER WE WANT TO BE!!!,Music,Music,USD,2015-08-31 22:40:00,3000,2015-07-13 17:09:24,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1012704793,Life In The Bus Lane,Film & Video,Film & Video,USD,2014-12-21 05:09:09,7500,2014-11-21 05:09:09,9329,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1012744036,An Oratorio for our Time - Last Stop Cafe,Music,Music,USD,2016-05-26 19:46:26,5000,2016-04-26 19:46:26,5170,successful,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1012807897,Juliet Remembered,Film & Video,Film & Video,GBP,2016-02-06 13:44:33,6500,2016-01-07 13:44:33,6660.12,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
1013389538,Make admission to the London Music Awards cere...,Music,Music,CAD,2015-06-09 15:22:18,3500,2015-05-10 15:22:18,207,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982862687,Bydlo - A Novel,Publishing,Publishing,GBP,2015-06-01 12:51:16,3000,2015-04-02 12:51:16,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
982919439,Faith,Film & Video,Film & Video,USD,2016-05-06 04:17:33,9000,2016-03-07 04:17:33,2,failed,0,"N,""0",NaN,NaN,NaN,NaN,NaN
983728691,The Octopodes' 5th Studio Album!,Music,Music,USD,2016-01-05 05:59:00,8000,2015-11-19 23:43:09,8025,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
985231591,TWO FISH,Film & Video,Film & Video,USD,2014-05-17 00:00:00,8000,2014-04-21 21:52:55,8562,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
986253191,"DEVELOP MAGAZINE FOR THE ARTS, MUSIC, AND DESI...",Publishing,Publishing,USD,2015-02-28 17:43:13,5000,2015-01-29 17:43:13,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
986471034,"Help Revival finish their new album, Guidance.",Music,Music,USD,2015-05-02 01:00:00,2500,2015-04-03 11:16:00,420,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
98744618,Vinyl for Dancing Pigeons!,Music,Music,SEK,2016-04-16 14:42:54,33000,2016-03-17 13:42:54,1105,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
988763792,Maud Sings Maud: A Musical Betsy-Tacy Companion,Music,Music,USD,2015-12-03 00:55:19,6500,2015-10-04 00:55:19,7814,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
989218116,Keep on Movin' - The Debut Album,Music,Music,GBP,2014-11-19 22:22:14,1300,2014-10-22 22:22:14,2,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
989499289,Sojourner,Music,Music,USD,2016-04-11 23:22:51,2500,2016-03-12 23:22:51,80,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
989874415,Love and Soul through Sound,Music,Music,USD,2015-06-27 02:15:00,3000,2015-05-28 17:17:08,45,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
991409513,Chris Copeland's First EP,Music,Music,USD,2015-02-28 02:58:24,5500,2015-01-29 02:58:24,5763,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
991483230,Support Vocal Synergy's Second Semester and Te...,Music,Music,USD,2015-12-20 05:59:00,3400,2015-12-05 05:10:10,3435,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
991820324,The Blend CD 2015,Music,Music,USD,2015-05-15 00:07:51,8000,2015-04-15 00:07:51,8156,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
992433603,Jonny Come Lately,Film & Video,Film & Video,USD,2014-12-24 20:47:45,8500,2014-11-24 20:47:45,9146,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
994080962,Maximum Coppage,Film & Video,Film & Video,USD,2014-08-19 03:42:11,3000,2014-07-18 03:42:11,3175,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
994621918,Star Sailor,Film & Video,Film & Video,USD,2016-01-01 07:00:00,8000,2015-12-03 20:25:41,8061,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
994911312,"""Songwriter assistance"" service",Music,Music,CAD,2014-12-22 00:56:04,5000,2014-11-22 00:56:04,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
994933706,Whiskey and Holy Water,Music,Music,USD,2015-05-11 04:25:00,6500,2015-03-25 03:55:53,6696,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
99613274,Double EP and Music Video Fundraiser,Music,Music,GBP,2015-12-02 21:00:00,3000,2015-11-02 09:33:38,3517,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
996908566,The World Needs More Big Thinkers,Publishing,Publishing,USD,2015-09-13 03:01:31,8000,2015-07-30 03:01:31,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
99739483,No More Fear,Music,Music,GBP,2016-04-17 01:00:00,2500,2016-03-17 13:43:26,2500,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
997554968,Susan Picking: Making Music with Kids in the S...,Music,Music,USD,2015-03-01 05:59:00,8000,2015-01-31 20:58:01,8582,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
997793413,Whisper Violet - Honors Senior Thesis Film,Film & Video,Film & Video,USD,2016-05-14 01:27:27,2000,2016-04-14 01:27:27,2300,successful,0,"N,""0",NaN,NaN,NaN,NaN,NaN
997915422,Otter's First Full Length Album,Music,Music,USD,2015-12-31 00:25:06,5000,2015-12-01 00:25:06,6065.26,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
997971307,"EQUUS International Film Festival�, all-equine...",Film & Video,Film & Video,USD,2015-02-03 04:19:14,7500,2014-12-05 04:19:14,10,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
998319149,Emily 2050 - Short Film,Film & Video,Film & Video,CAD,2014-05-23 00:30:09,3000,2014-04-08 00:30:09,3102,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
9988744,Matthew Stephens Music,Music,Music,USD,2016-02-05 23:00:00,5000,2016-01-06 21:59:23,235,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
999610349,Lady Vendredi: Afrofuturist concept 12 inch EP,Music,Music,GBP,2015-10-19 22:33:18,2000,2015-09-21 22:33:18,2125,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN
999621278,Jeune auteur a besoin de vous!,Publishing,Publishing,EUR,2015-11-20 21:28:13,1600,2015-10-21 21:28:13,0,undefined,0,"N,""0",NaN,NaN,NaN,NaN,NaN

In [259]:
df.update(df_filtered)

In [245]:
df.filter(like='1434106356',axis=0)

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,Unnamed_13,Unnamed_14,Unnamed_15,Unnamed_16
ID,,,,,,,,,,,,,,,,
1434106356,Phantom Records Presents Girl Power Tour Benef...,Music,Music,USD,2016-06-26 21:00:00,5000,2016-05-30 19:34:07,0,failed,0,US,0,0,NaN,NaN,NaN

In [249]:
df_filtered.filter(like='1383759393',axis=0)

Empty DataFrame
Columns: [name, category, main_category, currency, deadline, goal, launched, pledged, state, backers, country, usd_pledged, Unnamed_13, Unnamed_14, Unnamed_15, Unnamed_16]
Index: []

In [209]:
df_filtered[(df_filtered['Unnamed_15'].isna() == False) & (df_filtered['Unnamed_16'].isna() == True)]

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged,Unnamed_13,Unnamed_14,Unnamed_15,Unnamed_16
ID,,,,,,,,,,,,,,,,
1618382802,Druid Hill Park Passport: Discover,Enjoy,Learn,Be active!,Publishing,Publishing,USD,2012-07-28 01:30:00,9500,2012-06-06 23:54:14,9854,successful,208,US,9854,NaN
1864561559,T-shirt,dress shirts,pants,clothing company,Apparel,Fashion,USD,2015-08-02 18:23:23,20000,2015-07-03 18:23:23,0,failed,0,US,0,NaN
642928449,FRANCIS - The Pope,Buenos Aires,soccer,tango and culture,Film & Video,Film & Video,USD,2014-03-02 23:34:00,75000,2014-02-05 02:06:20,0,failed,0,US,0,NaN

In [237]:
for index, row in df_filtered.iterrows():
    sixteen = str(row.Unnamed_16)
    fifteen = str(row.Unnamed_15)
    thirteen = str(row.Unnamed_13)
    if fifteen != 'nan' and sixteen == 'nan':
        print row['name']

Druid Hill Park Passport: Discover
T-shirt
FRANCIS - The Pope